* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  max-height: 100vh;
  background: #0C0C0C;
  color: #fff;
  font-family: "Questrial", sans-serif;
  overflow: hidden;
  padding: 0px 100px;
}

body::-webkit-scrollbar {
  display: none;
}

#bg-container {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}


.hero {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
	position: absolute;
	display: flex;
    justify-content: center;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.desc {
	max-width: 50%;
	opacity: 0.7;
	line-height: 1.3em;
}

.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img {
	width: 250px;
}

.offer h1 {
	font-size: 70px;
	margin: 30px 0px;
	max-width: 60%;
}

@media(max-width: 1200px) {
	.offer h1 {
		max-width: 100%;
	}
	.desc {
		max-width: 100%;
	}
}

@media(max-width: 992px) {
	.offer h1 {
		font-size: 55px;
	}
	.logo img {
		width:200px;
	}
}

@media(max-width: 768px) {
	body {
		padding: 0px 30px;
	}
}

@media (max-width:577px) {
	.offer h1 {
		font-size: 50px;
	}
	body {
		padding: 0px 15px;
	}
	.logo img {
		width:180px;
	}
}
